<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>失语症训练</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES -->
    <link href="../static/css/prettyPhoto.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <style>

        #leftpart {
            float: left;
            width: 300px;
        }

        #rightpart {
            float: left;
            margin-left: 60px;
        }

        .btn-audio {
        {#margin: 90px auto;#} margin-left: 60px;
            margin-bottom: 20px;
            margin-top: 10px;
            width: 80px;
            height: 80px;
            background: url(../static/image/start.png) no-repeat center bottom;
            background-size: contain;
        }

        button {
            padding: 0;
            background-color: white;
            box-sizing: border-box;
        }

        .play {
            height: 74px;
            border-style: solid;
            border-width: 37px 0 37px 60px;
            border-color: transparent transparent transparent black;
        }

        .stop {
            width: 74px;
            height: 74px;
            border-style: double;
            border-width: 0px 0px 0px 60px;
            border-color: #202020;
        }

        div img {
            cursor: pointer;
            transition: all 0.6s;
        }

        div img:hover {
            transform: scale(1.1);
            border: 1px solid #cc0000;
            background: #f0f0f0;
            opacity: 0.8
        }

        {##div1 #div2 #div3 #div4 :hover {#}
        {#    border: 1px solid #cc0000;#}
        {
        #}#}
    </style>

</head>
<body>
<div id="wrapper">
    {% include 'nav_left.html' %}
    <!-- /. NAV SIDE  -->
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-10">
                    <div id="leftpart">
                        <h3>请按照语音提示选择图片</h3>
                        <div class="btn-audio">
                            <audio id="mp3Btn">
                                {#                                <source src="" type="audio/mpeg"/>#}
                            </audio>
                        </div>

                        {#                        <audio id="play" src="" controls='controls'></audio>#}
                        <audio id="play1" src=""></audio>
                    </div>
                    <div id="rightpart">
                        <video id="video" width="100" height="100" autoplay></video>
                    </div>
                    <canvas style="display: none" id="canvas" width="100" height="100"></canvas>
                    {#表情识别#}
                </div>
            </div>
            <!-- /. ROW  -->
            <div id="port-folio">
                <div class="row " style="text-align:center;">
                    <div class="row " style="padding-left: 60px">
                        <div class="col-md-3 ">
                            <div id='div1' class="portfolio-item nature mix_all" data-cat="nature"
                                 style="width: 200px;height: 200px">
                                <img id="img1" style="width:100%; height:100%;" src="" class="img-responsive " alt=""/>
                            </div>
                        </div>
                        <div class="col-md-3 " style="padding-left: 20px">
                            <div id='div2' class="portfolio-item nature mix_all" data-cat="nature"
                                 style="width: 200px;height: 200px">
                                <img id="img2" style="width:100%; height:100%;" src="" class="img-responsive " alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="row " style="padding-top: 20px;padding-left: 60px">
                        <div class="col-md-3 ">
                            <div id='div3' class="portfolio-item nature mix_all" data-cat="nature"
                                 style="width: 200px;height: 200px">
                                <img id="img3" style="width:100%; height:100%;" src="" class="img-responsive " alt=""/>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div id='div4' class="portfolio-item nature mix_all" data-cat="nature"
                                 style="width: 200px;height: 200px">
                                <img id="img4" style="width:100%; height:100%;" src="" class="img-responsive " alt=""/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript">
    var no = 0;
    var used_time = 0;  //单位是秒
    var pathA, pathB, pathC, pathD, pathVoice;
    var desA, desB, desC, desD, Answer, guidePath;
    var audio = document.getElementById('mp3Btn');
    var audio1 = document.getElementById('play1');
    var oImg1 = document.getElementById('img1');
    var oImg2 = document.getElementById('img2');
    var oImg3 = document.getElementById('img3');
    var oImg4 = document.getElementById('img4');
    var current_ques_id = -1; // 当前问题的id
    var current_ques_status = 0;// 当前问题的状态 0 未出错过  1 出错过
    var current_ques_wrong_option = -1;//刚刚犯下的错误选项 相对id
    var current_valid_guide_id = -1;//当前问题出错后，使得患者答对题目的引导语 id
    var current_valid_guide_path = "";//当前问题出错后，使得患者答对题目的引导语路徑
    var successGuides = new Array();
    successGuides[0] = '/media/guide/恭喜你答对了.mp3';
    successGuides[1] = '/media/guide/答对了.mp3';
    successGuides[2] = '/media/guide/答对了，真棒.mp3';
    successGuides[3] = '/media/guide/做得好.mp3';
    successGuides[4] = '/media/guide/做对了.mp3';
    successGuides[5] = '/media/guide/答对了，太棒了.mp3';
    successGuides[6] = '/media/guide/答对了，再接再厉.mp3';
    successGuides[7] = '/media/guide/答对了，继续加油.mp3';
    successGuides[8] = '/media/guide/答对了，一起加油.mp3';
    successGuides[9] = '/media/guide/答对了，一起努力.mp3';
    successGuides[10] = '/media/guide/恭喜，对啦.mp3';
    var failGuides = new Array();
    failGuides[0] = '/media/guide/答错啦.mp3';
    failGuides[1] = '/media/guide/错了.mp3';
    failGuides[2] = '/media/guide/很遗憾，答错了.mp3';
    failGuides[3] = '/media/guide/选错了.mp3';


    //播放器控制
    var myaudio = document.getElementById('mp3Btn');
    myaudio.volume = .3;
    //播放完毕
    $('#mp3Btn').on('ended', function () {
        console.log(myaudio.src);

        $('.btn-audio').css({
            'background': 'url(../static/image/start.png) no-repeat center bottom',
            'background-size': 'contain'
        });
        console.log("音频已播放完成");
    });

    $('.btn-audio').click(function () {
        event.stopPropagation();//防止冒泡
        if (audio.paused) { //如果当前是暂停状态
            $('.btn-audio').css({
                'background': 'url(../static/image/pause.png) no-repeat center bottom',
                'background-size': 'contain'
            });
            myaudio.play(); //播放
            return;
        } else {//当前是播放状态
            $('.btn-audio').css({
                'background': 'url(../static/image/start.png) no-repeat center bottom',
                'background-size': 'contain'
            });
            myaudio.pause(); //暂停
        }
    });


    function reset() {
        current_ques_id = -1; // 当前问题的id
        current_ques_status = 0;// 当前问题的状态 0 未出错过  1 出错过
        current_valid_guide_id = -1;//当前问题出错后，使得患者答对题目的引导语 id

    }

    function get_next(typeid) {
        console.log("get_next");
        if (current_ques_status == 0) {
            reset();
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/get_nextToDo/",
            data: {
                'arrid':{{ arrid }},
                'type': typeid,
                'time': used_time,
                'setid':{{setid}},
                'cur_ques_id': current_ques_id,
                'cur_valid_guide_id': current_valid_guide_id,
                'current_wrong_option': current_ques_wrong_option,
                'current_valid_guide_path': current_valid_guide_path,
                'user_id':{{ userid }}
            },
            success: function (data) {
                reset();
                no = no + 1;
                current_ques_id = no;
                Answer = data.namee;
                if (Answer == "") {
                    timer = null;
                    alert("这套题目已经做完了!");
                    location.href = '/view_allMyDoneSet/';
                } else {
                    pathA = data.imageA;
                    desA = data.DesA;
                    pathA = "/media/" + pathA;
                    oImg1.src = pathA;

                    pathB = data.imageB;
                    desB = data.DesB;
                    pathB = "/media/" + pathB;
                    oImg2.src = pathB;

                    pathC = data.imageC;
                    desC = data.DesC;
                    pathC = "/media/" + pathC;
                    oImg3.src = pathC;

                    pathD = data.imageD;
                    desD = data.DesD;
                    pathD = "/media/" + pathD;
                    oImg4.src = pathD;

                    pathVoice = data.voice;

                    pathVoice = "/" + pathVoice;
                    audio.src = pathVoice;
                    console.log(pathVoice);
                }

            },
            error: function (data) {
                {#alert("Some error!");#}
            }
        });
        {#var audio = document.getElementById('mp3Btn');#}

    }


    function error_answer(des) {
        console.log("wrong" + des);
        current_ques_status = 1;
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/error_answer/",
            data: {
                'arrid':{{ arrid }},
                "no": no,
                "right": Answer,
                "wrong": des,
                'setid':{{setid}},
                'cur_ques_id': current_ques_id,
                'current_wrong_option': current_ques_wrong_option,
                'user_id':{{ userid }}
            },
            success: function (data) {
                if (data.guide == "") {
                    current_valid_guide_id = -1;
                    current_valid_guide_path = "";
                    alert("答错,还没有这种情况的引导语");
                }
                else {
                    current_valid_guide_id = data.id;
                    current_valid_guide_path = data.guide;
                    guidePath = "/" + data.guide;
                    audio1.src = guidePath;
                    console.log(guidePath);
                    audio1.play();
                }
            },
            error: function (data) {
                {#alert("Some error!");#}
            }
        });
    }

    function successGuidePre() {
        var index = Math.round(Math.random() * 10);
        audio1.src = successGuides[index];
        audio1.play();
        console.log(audio1.src);
    }

    function failGuidePre() {
        var index = Math.round(Math.random() * 3);
        audio1.src = failGuides[index];
        audio1.play();
        console.log(audio1.src);
    }

    oImg1.onclick = function () {
        var checkA = (desA == Answer);
        if (checkA) {
            successGuidePre();
            setTimeout("get_next(1)", 200);

        } else {
            current_ques_wrong_option = 1;
            failGuidePre();
            setTimeout("error_answer(desA)", 200);
        }
    };

    oImg2.onclick = function () {
        var checkB = (desB == Answer);
        if (checkB) {
            successGuidePre();
            setTimeout("get_next(1)", 200);
        }
        else {
            current_ques_wrong_option = 2;
            failGuidePre();
            setTimeout("error_answer(desB)", 200);
        }
    };

    oImg3.onclick = function () {
        var checkC = (desC == Answer);
        if (checkC) {
            successGuidePre();
            setTimeout("get_next(1)", 200);
        } else {
            current_ques_wrong_option = 3;
            failGuidePre();
            setTimeout("error_answer(desC)", 200);
        }
    };

    oImg4.onclick = function () {
        var checkD = (desD == Answer);
        if (checkD) {
            successGuidePre();
            setTimeout("get_next(1)", 200);
        } else {
            current_ques_wrong_option = 4;
            failGuidePre();
            setTimeout("error_answer(desD)", 200);
        }
    };

    {#表情识别#}
    var HH = 0;
    var mm = 0;
    var ss = 0;
    var str = '';
    var aVideo = document.getElementById('video');
    var aCanvas = document.getElementById('canvas');
    var ctx = aCanvas.getContext('2d');


    if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
        //调用用户媒体设备, 访问摄像头
        getUserMedia({video: {width: 100, height: 100}}, success, error);
    } else {
        alert('不支持访问用户媒体');
    }

    function getUserMedia(constraints, success, error) {
        if (navigator.mediaDevices.getUserMedia) {
            //最新的标准API
            navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
        } else if (navigator.webkitGetUserMedia) {
            //webkit核心浏览器
            navigator.webkitGetUserMedia(constraints, success, error)
        } else if (navigator.mozGetUserMedia) {
            //firfox浏览器
            navigator.mozGetUserMedia(constraints, success, error);
        } else if (navigator.getUserMedia) {
            //旧版API
            navigator.getUserMedia(constraints, success, error);
        }
    }

    function success(stream) {
        //兼容webkit核心浏览器
        let CompatibleURL = window.URL || window.webkitURL;
        //将视频流设置为video元素的源
        console.log(stream);

        //video.src = CompatibleURL.createObjectURL(stream);
        aVideo.srcObject = stream;
        aVideo.play();
    }

    function error(error) {
        console.log('访问用户媒体设备失败${error.name}, ${error.message}');
    }

    var timer = setInterval(function () {
        used_time++;
        str = "";
        if (++ss == 60) {
            if (++mm == 60) {
                HH++;
                mm = 0;
            }
            ss = 0;
        }

        if (ss % 3 == 0) {
            ctx.drawImage(aVideo, 0, 0, 100, 100);
            {#截取前面#}
            snap_base64 = aCanvas.toDataURL("image/png").substring(22);
            {#console.log(snap_base64)#}
            get_feeling(snap_base64);
        }

    }, 1000);

    {#function upload_snap(snap_base64) {#}
    {#    $.ajax({#}
    {#        type: "POST",#}
    {#        dataType: "json",#}
    {#        url: "http://127.0.0.1:8000/upload_snap/",#}
    {#        data: {"snap_base64": snap_base64},#}
    {#        success: function (data) {#}
    {#alert("Success ! 结果为".concat(data.face_reg_test));#}
    {#            var emotions = document.getElementById('emotions');#}
    {#            var res = data.face_reg_test;#}
    {#            var show_emotion = "loading..";#}
    {#            if (res == 0) {#}
    {#                show_emotion = "表情为：平常"#}
    {#            } else if (res == 1) {#}
    {#                show_emotion = "表情为：高兴"#}
    {#            } else {#}
    {#                show_emotion = "表情为：不高兴"#}
    {#            }#}
    {##}
    {#            emotions.innerText = show_emotion;#}
    {#            console.log("Success ! 结果为".concat(data.face_reg))#}
    {#        },#}
    {#        error: function (data) {#}
    {#alert("Some error!");#}
    {#        }#}
    {#    });#}
    {#}#}

        function get_feeling(snap_base64) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "http://127.0.0.1:8000/get_feeling/",
                data: {"snap_base64": snap_base64},
                success: function (data) {
                    var emotions = document.getElementById('emotions');
                    var res = data.feeling;
                    var show_emotion = "loading..";
                    if (res == 0) {
                        show_emotion = "表情为：平常"
                    } else if (res == 1) {
                        show_emotion = "表情为：高兴"
                    } else {
                        show_emotion = "表情为：不高兴"
                    }


                    emotions.innerText = show_emotion;
                    {#alert("Success ! 历史结果为".concat(data.feeling.toString()));#}
                    console.log("Success ! 历史结果为".concat(data.feeling.toString()))

                },
                error: function (data) {
                    {#alert("Some error!");#}
                }
            });
        }


        {#表情识别#}

        function confirmAct() {
            var msg = "您真的确定要退出吗？\n\n请确认！";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }

        get_next(0);
</script>
<script type="text/javascript">
    $(window).load(function () {
        console.log("进入页面第一次播放");
        setTimeout("audio.click()", 1000);
    });
</script>
</body>
</html>
