<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>查看已完成套题</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES -->
    <link href="../static/css/prettyPhoto.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    {% include 'nav_left.html' %}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <fieldset style="position:absolute;left:30%;top:20%;width:70%;height:75%">
                    <legend style="font-size: 25px">已完成训练</legend>
                    <form action="">
                        <table border="1" width="80%" border=1 bordercolor="#5e75a8">
                            <tr height="75px" align="center" style="font-size:16px">
                                <td width="10%">编号</td>
                                <td width="10%">套题</td>
                                <td width="30%">描述</td>
                                <td width="10%">布置时间</td>
                                <td width="10%">完成时间</td>
                                <td width="15%">用时</td>
                                <td width="15%">操作</td>
                            </tr>
                            <tr align="center" id="tr1" style="font-size:16px">
                                <td id="id1" width="10%">0</td>
                                <td id="tdset1" width="10%">Loading..</td>
                                <td id="tdsetdes1" width="30%"> Loading..</td>
                                <td id="tdarrtime1" width="10%">Loading..</td>
                                <td id="tdfintime1" width="10%">Loading..</td>
                                <td id="tdusedtime1" width="15%">Loading..</td>
                                <td id="tdreview1" width="15%"><a id="op1" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr2" style="font-size:16px">
                                <td id="id2" width="10%">0</td>
                                <td id="tdset2" width="10%">Loading..</td>
                                <td id="tdsetdes2" width="30%"> Loading..</td>
                                <td id="tdarrtime2" width="10%">Loading..</td>
                                <td id="tdfintime2" width="10%">Loading..</td>
                                <td id="tdusedtime2" width="15%">Loading..</td>
                                <td id="tdreview2" width="15%"><a id="op2" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr3" style="font-size:16px">
                                <td id="id3" width="10%">0</td>
                                <td id="tdset3" width="10%">Loading..</td>
                                <td id="tdsetdes3" width="30%"> Loading..</td>
                                <td id="tdarrtime3" width="10%">Loading..</td>
                                <td id="tdfintime3" width="10%">Loading..</td>
                                <td id="tdusedtime3" width="15%">Loading..</td>
                                <td id="tdreview3" width="15%"><a id="op3" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr4" style="font-size:16px">
                                <td id="id4" width="10%">0</td>
                                <td id="tdset4" width="10%">Loading..</td>
                                <td id="tdsetdes4" width="30%"> Loading..</td>
                                <td id="tdarrtime4" width="10%">Loading..</td>
                                <td id="tdfintime4" width="10%">Loading..</td>
                                <td id="tdusedtime4" width="15%">Loading..</td>
                                <td id="tdreview4" width="15%"><a id="op4" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr5" style="font-size:16px">
                                <td id="id5" width="10%">0</td>
                                <td id="tdset5" width="10%">Loading..</td>
                                <td id="tdsetdes5" width="30%"> Loading..</td>
                                <td id="tdarrtime5" width="10%">Loading..</td>
                                <td id="tdfintime5" width="10%">Loading..</td>
                                <td id="tdusedtime5" width="15%">Loading..</td>
                                <td id="tdreview5" width="15%"><a id="op5" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr6" style="font-size:16px">
                                <td id="id6" width="10%">0</td>
                                <td id="tdset6" width="10%">Loading..</td>
                                <td id="tdsetdes6" width="30%"> Loading..</td>
                                <td id="tdarrtime6" width="10%">Loading..</td>
                                <td id="tdfintime6" width="10%">Loading..</td>
                                <td id="tdusedtime6" width="15%">Loading..</td>
                                <td id="tdreview6" width="15%"><a id="op6" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr7" style="font-size:16px">
                                <td id="id7" width="10%">0</td>
                                <td id="tdset7" width="10%">Loading..</td>
                                <td id="tdsetdes7" width="30%"> Loading..</td>
                                <td id="tdarrtime7" width="10%">Loading..</td>
                                <td id="tdfintime7" width="10%">Loading..</td>
                                <td id="tdusedtime7" width="15%">Loading..</td>
                                <td id="tdreview7" width="15%"><a id="op7" href="#">复习</a></td>
                            </tr>
                            <tr align="center" id="tr8" style="font-size:16px">
                                <td id="id8" width="10%">0</td>
                                <td id="tdset8" width="10%">Loading..</td>
                                <td id="tdsetdes8" width="30%"> Loading..</td>
                                <td id="tdarrtime8" width="10%">Loading..</td>
                                <td id="tdfintime8" width="10%">Loading..</td>
                                <td id="tdusedtime8" width="15%">Loading..</td>
                                <td id="tdreview8" width="15%"><a id="op8" href="#">复习</a></td>
                            </tr>


                        </table>
                        <br/>
                        <div class="row" align="center">
                            <button type="button" onclick="subPage()"> 上一页</button>
                            <label id="pageNumber"> &nbsp 1 &nbsp </label>
                            <button type="button" onclick="addPage()"> 下一页</button>
                            <br>
                        </div>

                    </form>
                </fieldset>
            </div>


        </div>
    </div>
</div>
<!-- /. PAGE INNER  -->


<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>


<script>

    var LineNumber = 8;
    var pageNum = 1;
    var all_sets;
    var all_length = 0;
    var setsCheck = new Array();
    var res = new Array();

    function subPage() {
        if (pageNum <= 1) {
            alert("这是第一页!");
        }
        else {
            pageNum = pageNum - 1;
            sets_display();
            changePage();
        }
    }

    function addPage() {
        if (pageNum > all_length / LineNumber) {
            alert("这是最后一页");
        }
        else {
            pageNum = pageNum + 1;
            sets_display();
            changePage();
        }
    }

    function changePage() {
        var label = document.getElementById('pageNumber');
        label.innerText = String(pageNum);
    }

    changePage();

    function sets_display() {
        var ques_2_disp = LineNumber;
        var reduce = all_length % LineNumber;
        let final = (pageNum === parseInt(((all_length + LineNumber - 1) / LineNumber)));
        if (final) {
            if (reduce == 0) {
                ques_2_disp = LineNumber;
            }
            else {
                ques_2_disp = reduce;
            }

        }


        var startNum = (pageNum - 1) * LineNumber;
        for (let i = 0; i < LineNumber; i++) {
            var id = document.getElementById('id' + (i + 1));
            var tdset = document.getElementById('tdset' + (i + 1));
            var tdsetdes = document.getElementById('tdsetdes' + (i + 1));
            var tdarrtime = document.getElementById('tdarrtime' + (i + 1));
            var tdfintime = document.getElementById('tdfintime' + (i + 1));
            var tdusedtime = document.getElementById('tdusedtime' + (i + 1));
            var op = document.getElementById('op' + (i + 1));
            var TR = document.getElementById('tr'+(i+1));

              if ((final && i >= reduce && ques_2_disp != LineNumber) || all_length == 0) {
                id.innerText = "";
                tdset.innerText = "";
                tdsetdes.innerText = "";
                tdarrtime.innerText = "";
                tdfintime.innerText = "";
                tdusedtime.innerText = "";
                op.innerText = "";
            }
            else {
                TR.height = 50;
                TR.style = "font-size:16px";
                id.innerText = all_sets["id" + (startNum + i)];
                tdset.innerText = all_sets["arr_set" + (startNum + i)];
                tdsetdes.innerText = all_sets["setdes" + (startNum + i)];
                tdarrtime.innerText = all_sets["arr_datetime" + (startNum + i)];
                tdfintime.innerText = all_sets["fin_datetime" + (startNum + i)];
                tdusedtime.innerText = all_sets["used_time" + (startNum + i)];
                op.innerText = "复习";
                op.href = "####" + all_sets["id" + (startNum + i)]

            }

        }
    }

    function get_all() {
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/get_allMyDoneSet/",
            data: {},
            success: function (data) {
                //alert(data['ques0']);
                all_sets = data;
                all_length = data["length"];
                sets_display();
            },
            error: function (data) {
                alert("Some error!");
            }
        });
    }

    get_all();


</script>
<script>
    function confirmAct() {
        var msg = "您真的确定要退出吗？\n\n请确认！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
